
<html><body>

    



<!--Include navbar-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link href="/css/styles.css" rel="stylesheet" type="text/css"/>
<%- include("partials/navbar"); -%>
<!--Introduction h1, followed by paragraph of text (section class TPW)-->
<section class="TPW">
<h1>Introduction</h1>
<p>
Napoleon’s foreign policy was almost unprecedented in its sheer aggressiveness. Over 15 years, he simply invaded anyone and everyone who opposed him, defeated their armies in battle, and then imposed punitive peace terms. These often included significant territorial and monetary concessions, but also often involved the release of previously annexed nations, or simply their creation. For example, he forced Prussia to release the Duchy of Warsaw – a smaller, weaker rendition of the once mighty Polish-Lithuanian Commonwealth that had been carved up by Austria, Prussia and Russia the previous century. These newly released states were of course indebted to France, and Napoleon essentially treated them as puppet states, forcing them to ally with him and demanding manpower and money from them. He created dozens of these puppet states across Italy, Iberia and Central Europe, but ultimately his experiment failed. Neither they, nor the former enemies he often forced to sign alliances, felt any loyalty towards France, and generally deserted to join an anti-French coalition at the first opportunity. Yet by crushing so many formerly dominant regional powers, Napoleon also helped the seeds of nationalism grow. In Germany, for example, the destruction of the Holy Roman Empire significantly reduced Austrian influence, and led to growing calls for German unification. In Italy, too, the weakening of Sardinia-Piedmont, Venice and Austria meant that smaller states’ demands for a unified Italy became harder to ignore. 
</p>
</section>
<div class="image-trim">
<!--Map of France in 1789 (plus caption) (page width)-->
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Europe_1783-1792_en.png/1280px-Europe_1783-1792_en.png" alt="">
    <p class="caption">Europe in 1789, just after the French Revolution</p>
</div>
<hr>
<!--Initial rise, followed by paragraph of text (section class WPB)-->
<section>
<h1>Initial Rise</h1>
<p>
Napoleon had a rapid initial rise to fame. He was dispatched to Italy in 1797, to counter the Austrian attempt to impose Habsburg rule over the peninsula. In the two-week Montenotte campaign, he knocked the rich kingdom of Sardinia-Piedmont out of the war, then roundly defeated Austrian armies at Castiglione, Bassano, Arcole and Rivoli. He invaded and defeated Venice, ending 1100 years of that great trading nation’s independence, and then marched on Vienna, forcing the Austrians to accept very favorable peace terms – ceding the Low Countries and a sizable chunk of northern Italy to France. At a stroke, France gained control over two of the most productive and wealthy economic areas of Europe, and Napoleon became an instant celebrity.
</p>
<p>
In 1798, Napoleon was dispatched to Egypt. Facing the prospect of complete British naval and economic dominance, France decided to try and cut off the extremely lucrative trade coming from Britain’s presence in India. To this end, they decided to invade Egypt to cut off the Suez canal, and sent this young and successful general to do exactly that. Initially, Napoleon had great success. He routed the Egyptian Mamluks twice, most famously at the Battle of the Pyramids, and even pushed into the Ottoman provinces of Damascus and Acre. Yet in August 1798, the Royal Navy under Nelson demolished the French fleet in the battle of the Nile, leaving their expeditionary force essentially cut off. Unable to resupply and with his men dwindling due to disease and injury, Napoleon faced a crisis. News that France had faced setbacks in Europe provided him a reason to depart, so without waiting for official authorization, he left the Egyptian army under the command of Klèber and evacuated to France, where he received a hero’s welcome. Yet to many modern historians, his abandonment of his men in Egypt ranks among his greatest failures.
</p>
<p>
Napoleon, however, was not content with being merely a general. He wanted more power, and the state of French politics was ripe for his seizure of it. After the Revolution, there had been a series of short-lived governments, and France was currently ruled by the Directory, another somewhat makeshift collection of politicians. With a war raging on French frontiers, Napoleon was able to demand ever more powers in time of emergency, making himself First Consul after a rigged plebiscite, and eventually awarding himself this position for life. The French public did not object to this charismatic general gaining power – he had a string of impressive victories to his name and had brought glory to France – more than the Directory had ever done.
</p>
</section>

<div class="image-trim">
<!--Map of France in 1789 (plus caption) (page width)-->
    <img src="https://i.redd.it/a1vopgc55oo21.png" alt="">
    <p class="caption">Europe in 1803, at the outbreak of the war of the Third Coalition</p>
</div>
<hr>
<!--Rivalry with Britain h1, followed by paragraph of text (section class TPW)-->
<section class="TPW">
<h1>Rivalry with Britain</h1>
<p>
Napoleon had many enemies, but Britain was chief among them. The two nations were rivals in America, Europe and Africa, and had been fighting for dominance for centuries. Napoleon sought to expand the French Empire, and Britain sought to maintain the balance of Europe and prevent anyone from getting too powerful. Napoleon cherished hopes of invading Britain, but by the 1800s the Royal Navy was the finest in the world, and Britain were gifted to have Horatio Nelson leading it. In 1805, at the battle of Trafalgar just off the Spanish coast, the Royal Navy annihilated the French invasion fleet commanded by Admiral Villeneuve, though Nelson was killed by a sharpshooter in the process. This crushing defeat ended any hopes of a naval invasion of Britain, and forced Napoleon to find other options.
</p>
<p>On land too, Britain provided a nemesis to Napoleon. Arthur Wellesley, better known as the Duke of Wellington, was born to minor Irish nobility, and became one of Britain’s finest generals of the Napoleonic period, or indeed ever. Far more talented as a military leader than a politician (he earned the sobriquet of the “Iron Duke” after he installed iron shutters on the windows of his Prime Ministerial office to prevent them being shattered by angry mobs), he was in many ways the antithesis of Napoleon. Austere, cold and startlingly tall, he made a sharp contrast to the energetic and beloved Napoleon (who, at five foot six, was far from the diminutive specimen he was later made out to be). Napoleon’s soldiers would follow him anywhere, and would lay down their lives for him gladly – a love Wellington never received. </p>
<p>
Yet if he was not loved, he was respected – his men knew that he would never abandon them, that while he was in charge they would never run short of supplies or go unpaid, and had faith in his judgment. While Napoleon and Nelson flaunted their many military awards and had glittering uniforms, Wellington preferred a plain dark cloak, slept on the ground with his men, and ate the same simple fare as them. Napoleon directed battles from afar, but Wellington was always in the thick of the action, an unshakeable figure on his horse Copenhagen, instilling calm and confidence in his men. Many soldiers later reported how they were terrified during Waterloo, but a glance at the Duke’s stoic, impassive face was enough to calm them, and assure them that no matter how chaotic things seemed, it would turn out all right. Wellington seemed to love his men, more even than Napoleon – whether they were in the marshes of Belgium or the fortresses of Portugal, he ensured his men were well supplied, and after the battle of Waterloo, he wept at the loss of so many of his men, declaring that the saddest thing apart from a battle lost was a battle won. One of the few men ever to defeat Napoleon, the Duke has somewhat faded into obscurity, but was a crucial part of Britain’s war effort against a remarkably talented and tenacious adversary. 
</p>

</section>
<div class="image-trim">
<!--Map of France in 1789 (plus caption) (page width)-->
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Arthur_Duke_of_Wellington.jpg/853px-Arthur_Duke_of_Wellington.jpg" alt="">
    <p class="caption">Arthur Wellesley, Duke of Wellington</p>
</div>
<hr>
<!--The Continental System h1, followed by paragraph of text (section class WPB)-->
<section>
<h1>The Continental System and the Russian campaign</h1>
<p>
Frustrated by his inability to vanquish Britain navally, Napoleon attempted to choke Britain off economically. He declared the Continental System, which amounted to a complete ban on all trade with Britain by any European country. In any other era, such a declaration by the leader of one country would have been promptly ignored by everyone else. Yet this was near the height of Napoleonic power, and everyone complied, lest the French armies burn their countries to the ground. Everyone, that is, except the Portuguese and the Russians. The Portuguese were longtime allies of the British. Indeed, the British-Portuguese alliance persisted till the Second World War, and meant the Allies did not have to navally invade the Portuguese islands but simply asked permission, which was granted. Napoleon invaded Portugal, and, while he was at it, Spain, and thus started the Peninsular War, which dragged on interminably till the end of the war of the Sixth Coalition. Portugal, however, were not Napoleon’s main concern at this point. His eyes were fixed on Russia, and on the traitorous Tsar who had reneged on all his friendly promises at the Treaty of Tilsit. Tsar Alexander I did not want to cease his lucrative trade with Britain, and refused to join the system. Napoleon, of course, could not tolerate such insolence, and marched into Russia with 600,000 troops. 
</p>
<p>
It is worth recalling that Russia at this stage extended far into modern day Poland and Ukraine, thanks to the leadership of Catherine the Great, and so Moscow was several hundred miles from the Russian frontier.  Napoleon’s invasion of Russia in 1812 has passed into legend as a cautionary tale, as the Russians retreated ever further into the depths of their heartland, burning everything of use to the French in a scorched-earth policy. They even torched their own capital city of Moscow, letting attrition wreak havoc on the overextended French army. Knowing full well how destructive Napoleon could be in a pitched battle, the Russian general Kutuzov retreated, forcing Napoleon deeper and deeper in search of that elusive victory. 
</p>
<p>
On the 7th of September, the two armies finally clashed at Borodino, where the French took 35,000 casualties but inflicted 44,000 on the Russians. Yet crucially, the Russians had not been routed, and were even more determined to keep fighting. As winter set in, Napoleon had no choice but to retreat, his armies harried by Russian peasants, the icy winter, and brutal Cossacks, who would emerge in small groups, harass and kill small contingents of French troops, then melt away into the snowy wilderness. By the time he exited Russia, less than 100,000 of the original Grande Armée remained, and he was extremely vulnerable to the coalition war that ensued. The Continental System was abandoned. Once again, Napoleons’ fierce rivalry with Britain had harmed only him. 
</p>
</section>
<!--Map of France in 1812 at max extent (plus caption) (page width)-->
<div class="image-trim">
<!--Map of France in 1789 (plus caption) (page width)-->
    <img src="https://i.stack.imgur.com/Lukst.jpg" alt="">
    <p class="caption">Napoleon's Empire at its greatest extent</p>
</div>
<hr>
<!--The Fall of Napoleon h1, followed by paragraph of text (section class TPW)-->
<section class="TPW">
<h1>The Fall of Napoleon</h1>
<p>
After the battle of Leipzig, Napoleon’s armies were shattered. The Peninsular War had dragged on and on, sapping the 300,000 French soldiers stationed there, who had been reduced in number as Napoleon’s campaigns in the East sucked in ever more reinforcements. When he invaded in 1807, Napoleon had assured the Spanish king he only intended to fight Portugal, a long-time British ally. He attempted to conquer Spain as well, and install his brother as king, yet found that this was a much trickier endeavor than he had imagined, as the Spanish civilians embarked on a guerrilla defence of their land. The worst atrocities of the Napoleonic wars were committed during this period, by both sides, but now that Napoleon was on the back foot, the resurgent Spanish armies, and the British forces sent to aid them, began to push the French armies back into France. 
</p>
<p>
The allied armies, buoyed by their victory at Leipzig, swept triumphantly towards France. Invaded on all sides, with a weakened and demoralized army, Napoleon nevertheless pulled off a remarkable defensive war in 1814. In what has become known as the Six Days Campaign, Napoleon defeated the Prussian Army of Silesia under Marshal Blücher at Champaubert, Montmirail, Château-Thierry, and Vauchamps, in the space of just six days. 
</p>
<p>
Yet even these rapid victories proved insufficient, as Napoleon had to rush to deal with the advancing Army of Bohemia under the Austrian Marshal Schwarzenberg (who had already tasted defeat to Napoleon at Wagram). In the meantime, the Army of Silesia reinforced and kept advancing, while Spanish and British armies swarmed into France from the south. Eventually, outnumbered by such odds that even he was helpless, Napoleon was forced to surrender. He was exiled to Elba, just off the Tuscan coast. In 1815, he escaped, and attempted to reassert sovereignty over Europe in the Hundred Days Campaign. Yet after defeat at Waterloo (see the military page for more details), he was forced to abandon this hope, and died on the island of St Helena (see the personal page).
</p>
</section>
<!--Map of France after 1815 (plus caption) (page width)-->
<div class="image-trim">
<!--Map of France in 1789 (plus caption) (page width)-->
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Europe_1815_map_en.png" alt="">
    <p class="caption">Europe in 1815 after the downfall of Napoleon</p>
</div>
<hr>
<!--Include jump to footer-->
<%- include("partials/jumpto"); -%>


</body></html>