<html>
  <body>
      

   <section class="footer-list">
    <h1>Find out more about:</h1>
    <ul>
        <a class="main-page-btn main-page-btn-1 big" href="/military" role="button">Military</a>
        <a class="main-page-btn main-page-btn-2 big" href="/domestic-policy" role="button">Domestic Policy</a>
        <a class="main-page-btn main-page-btn-1 big" href="/foreign-policy" role="button">Foreign Policy</a>
        <a class="main-page-btn main-page-btn-2 big" href="/personal" role="button">Personal Life</a>
    </ul>
</section>
  </body>
</html>