<html><body>
    


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link href="/css/styles.css" rel="stylesheet" type="text/css"/>
<%- include("partials/navbar"); -%>
<!--Intro h1, followed by introductory paragraph stored in app.js (TPW)-->
<section class="TPW">
<h1>Introduction</h1>
<p>Napoleon was one of the finest generals ever to walk the Earth. His military career coincided with the aftermath of the French Revolution, and indeed one of his first ever military actions was to deploy cannon to disperse protestors on the streets of Paris. He led armies across Europe, from the frozen wastes of Russia to the scorching deserts of Egypt, leaving a trail of destruction and blood as he went. Under his leadership, Revolutionary France fought against almost the entirety of Europe, and, on numerous occasions, was victorious. </p>
</section>
<div class="image-trim">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Battle_of_Wagram.jpg/1024px-Battle_of_Wagram.jpg" alt="">
<p class="caption">The Battle of Wagram</p>
</div>
<hr>

<!--Destruction of the Republic or relationships h1, followed by relevant paragraph stored in app.js (TPW)-->
<section>
<h1>Military Innovations</h1>
<p>One of Napoleon’s greatest innovations was his skilful use of artillery. Cannon had existed for several centuries, but Napoleon turned them from merely a useful addition to an army into a lethal weapon that could win battles almost single-handedly. He referred to them as his “beautiful daughters”, and was fond of praising their importance in warfare. At Waterloo, Napoleon delayed the start of the battle solely so that his artillery could be used to maximum effect, without being clogged by the mud. At Wagram, 112 French cannon tore an advancing Austrian army to pieces, inflicting a crushing defeat. At Friedland, too, the artillery wreaked havoc in the ranks of the retreating Russian army.  </p>
<p>Like many other successful generals, he also mastered the art of rapid movement, and deceiving his opponents through careful manoeuvring. On multiple occasions, he vanquished numerically superior foes by ambushing and destroying one army before wheeling around and crushing the other, denying them the chance to unite and use their superior numbers to defeat him. Even in 1814, when coalition armies were sweeping into France from all sides, Napoleon inflicted four defeats on his enemies in less than a week, though this ultimately proved insufficient for him to avoid overall defeat.</p>
</section>
<!--Slavery or death of napoleon h1, followed by relevant paragraph stored in app.js (WPB)-->
<section class="TPW">
<h1>Military Record</h1>
<p>Napoleon’s military record is formidable. He fought a total of 60 battles, and lost only 7 of them. Austria and Prussia in particular faced countless defeats at his hands, and some of his victories – Austerlitz, Jena, Marengo, to name but a few, are still regarded as some of the greatest feats of military strategy ever achieved. Napoleon almost always faced a severe numerical disadvantage, and was usually going up against enemies that were significantly better funded (thanks to British subsidies) and often had naval dominance (especially after Trafalgar, British naval dominance was unquestioned). He took control of a nation that was still recovering from the aftermath of a vicious revolution. France had made itself into an enemy of all of Europe due to its anti-monarchism, and had had to fight multiple desperate wars of survival to even stay intact. Yet in just fifteen years under Napoleon, France defeated its enemies time and time again, establishing the closest thing to a European empire the world had ever seen. Napoleon won a truly remarkable series of victories – in the end, it took not one but seven coalitions of European nations to finally bring him down. Much of the time, a single defeat at the hands of Napoleon could bring a nation to its knees, and force them out of a coalition war. Few leaders have ever come close to such a record. </p>
</section>
<section>
<h1>Battles</h1>
<p>Here you can explore a selection of some of the greatest and most important battles of the Napoleonic Wars. From the marshes of Belgium to the rolling plains of Italy, these battles irrevocably shaped the course of European history. You will find some of Napoleon's most brilliant victories, and also two crushing defeats. Hopefully these introductions will give you a sense of Napoleonic warfare, in all its brutal, magnificent, tragic glory. Click on a battle to find out more about it.</p>
<div class="row">
  <div class="column">
     <div class="battle-image-link waterloo-img">
      <strong><a href="/waterloo">Waterloo</a></strong>
      </div>
      <div class="battle-image-link jena-img ">
      <strong><a href="/jena">Jena</a></strong>
      </div>
      <div class="battle-image-link marengo-img">
      <strong><a href="/marengo">Marengo</a></strong>
      </div>
  </div>
  <div class="column">
    <div class="battle-image-link austerlitz-img">
      <strong><a href="/austerlitz">Austerlitz</a></strong>
      </div>
    <div class="battle-image-link friedland-img">
      <strong><a href="/friedland">Friedland</a></strong>
      </div>
    <div class="battle-image-link leipzig-img">
      <strong><a href="/leipzig">Leipzig</a></strong>
      </div>
  </div>
</div>
</section>














<!--Include jump to footer-->
<%- include("partials/jumpto"); -%>


</body></html>