
<html><body>
<nav>
    <div class="container">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/military">MILITARY</a></li>
          <li><a href="/domestic-policy">DOMESTIC POLICY</a></li>
          <li><a href="/foreign-policy">FOREIGN POLICY</a></li>
          <li><a href="/personal">PERSONAL</a></li>
        </ul>
    </div>
  </nav>
  
</body></html>