/***************************************************************************************************************************************************
                                                        HTML ELEMENTS
****************************************************************************************************************************************************/
html, body {
    min-height: 100%;
    font-family: 'Arial', 'sans-serif';
    min-width: 100%;
    margin: 0;
    padding: 0;
}


section {
    padding: 5%;
    line-height: 1.5;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 1.2rem;
    padding-left: 10%;
    padding-right: 10%;
}


img {
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    max-width: 70%;
    max-height: 600px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0d0052;
  position: sticky;
}

li {
  float: left;
  width: 20%;
  padding-top: 4%;
  padding-bottom: 4%;
  overflow: hidden;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;

}

/* Change the link color to #111 (black) on hover */
a:hover {
  color: rgb(160, 7, 101);
}

li:hover{
    background-color: #380160;
}

nav {
    background-color: #0d0052;
    padding-bottom: 1.7%;

}

@media screen and (max-width: 610px) {
    nav li {
        width: 16.5%;
        margin: 1.75%;
    }
    nav a {
        font-size: 0.8rem;
    }
}

section h1{
    color:  #0d0052;
    padding-bottom: 1%;
}

hr {
    margin-top: 2%;
    margin-bottom: 6%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-color: #05acba;
    border-style: dotted;
    border-width: 2px;
    height: 0;
    
}

/*
COLORS:

Dark Blue: #0d0052;
Turquoise: #05acba;

*/

/***************************************************************************************************************************************************
                                                        GENERAL COMPONENTS
****************************************************************************************************************************************************/

.TPW {
    background-color: #05acba;
    color: white;
    margin-top: -1.5%;
    
}



/***************************************************************************************************************************************************
                                                        MAIN PAGE
****************************************************************************************************************************************************/
@media screen and (min-width: 1400px) {
    body {
        width: 100%;
        overflow-x: hidden;
  }
}



.main-intro {
    color: white;
    padding-top: 10%;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/David_-_Napoleon_crossing_the_Alps_-_Malmaison2.jpg/1200px-David_-_Napoleon_crossing_the_Alps_-_Malmaison2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

.main-intro h1{
    font-size: 8rem;
    padding: 2%;
}

.main-intro p{
    font-size: 3rem;
}

.main-explanatory {
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: left;
    padding: 5%;
    padding-bottom: 5%;
}

@media screen and (max-width: 610px) {
    .main-intro {
        width: 100vw;
        padding-top: 45%;
    }
    .main-intro h1 {
        font-size: 4rem;
    }
    .main-intro p {
        font-size: 1.5rem;
    }
}

.main-page-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    color: white;
    margin: 4%;
    width: 14%;
    height: 10%;
    padding: 2% 1% 4%;
    }

@media screen and (max-width: 610px) {
    .main-page-btn {
        width: 30%;
    }
}

.main-page-btn-1 {
    background-color: #0d0052;
    border-color: #0d0052;
}

.main-page-btn-2 {
    background-color: #05acba;
    border-color: #05acba;
}

.main-btns-page {
    margin: 4% 0%;
}

.email-form {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin-left: 30%;
    width: 80%;
    color: white;
}

.main-page-h1 {
    color: white;
}

.submission {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    border-radius: .25rem;
    color: white;
    margin-top: 2%;
    margin-left: 14%;
    width: 10%;
    height: 6%;
    background-color: #05acba;
}

@media screen and (max-width: 610px) {
    .submission {
        width: 40%;
    }
}

.submission-field {
    padding: 2%;
    padding-right: 2%;
}

.submission-field input {
    padding-left: 2%;
    margin-left: 2%;
}

.email-section {
    background-color: #0d0052;
    padding: 5%;
    margin-bottom: 0;
}

.extra-class {
    margin-right: 2%;
}

.napoleon-quotes {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5%;
    padding: 5%;
}

.quote {
    font-size: 3rem;
    margin-bottom: 5%;
    font: "Great Vibes";
}

.quotebar {
    margin-bottom: -3%;
}
/***************************************************************************************************************************************************
                                                        DOMPOL AND PERSONAL PAGE
****************************************************************************************************************************************************/

.caption {
    text-align: center;
    font-size: 1.2rem;
    color: #0d0052;
    line-height: 1.5;
    margin-top: 1%;
}

/***************************************************************************************************************************************************
                                                        MILITARY PAGE
****************************************************************************************************************************************************/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 3% 0;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  margin-bottom: 5%;
}


.column a {
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 20vh;
    font-size: 1.5rem;
}

.column a:hover {
    color: #05acba;
}

.battle-image-link {
    display: block;
    padding: 5%;
    margin: 5%;
    text-align: center;
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.waterloo-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Battle_of_Waterloo_1815.PNG/1200px-Battle_of_Waterloo_1815.PNG');
}

.jena-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://upload.wikimedia.org/wikipedia/commons/1/1c/Napoleon.Jena.jpg");
}

.marengo-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://upload.wikimedia.org/wikipedia/commons/4/4a/Bonaparte_a_Marengo.jpg');
}

.austerlitz-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://upload.wikimedia.org/wikipedia/commons/3/37/Fran%C3%A7ois_Pascal_Simon_G%C3%A9rard_-_La_bataille_d'Austerlitz._2_decembre_1805.jpg");
}

.friedland-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://upload.wikimedia.org/wikipedia/commons/2/29/Friedland%2C_1807_(1875)_Ernest_Meissonier.jpg');
}

.leipzig-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Napoleon.Leipzig.jpg/1920px-Napoleon.Leipzig.jpg');
}
@media screen and (max-width: 600px) {
    .column {
    flex: 100%;
  }
}


.battle-header-1 {
    text-align: center;
}

.battle-itself {
    margin-bottom: -3%;
}

.battle-info {
    margin-top: 2%;
}
/***************************************************************************************************************************************************
                                                        FOOTER
****************************************************************************************************************************************************/

.footer-list {
    background-color: rgba(90, 181, 0, 0.51);
    margin-bottom: 0;
}

.footer-list ul {
    background-color: rgba(255, 255, 255, 0);
}

.random-bottom-text {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    padding: 1%;
}
