 <section class="random-bottom-text">
    <p>Quotes obtained from the quotes.net API run by stands4.com</p>
    <a href="https://www.quotes.net/quotes_api.php">Click to visit their full website</a>
     <p>Copyright of nobody, I wrote all this content myself anyway idm if you copy it</p>
 </section>