<link href="/css/styles.css" rel="stylesheet" type="text/css"/>
   <section>
    <h1>Hi there, great to hear from you!</h1>
    <p>Click on one of the buttons below to continue exploring the site</p>
</section>
<%- include("partials/jumpto"); -%>